

h1{
    color: green;border-style: double; text-align: center;font-size: 40px;
}
p {
    text-indent: 30px;font-size: 20px;
  }
h2{
    color: rgb(138, 190, 171);font-size: 35px;
}
h3{
    text-indent: 30px;color: rgb(6, 56, 38);font-size: 22px;
}
  